<div class="hide">
<input type="textarea"/>
<button data-id="<%=comment.id%>" onclick="postReply(this)">submit</button>
<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
</div>